.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.error {
  border: 1px solid red;
}

.error_message {
  color: red;
}

.active_filter{
  background-color: violet;
}

.isDone_executed{
  opacity: 0.5;
}
.input_btn{
  display: flex;
}
